nav.navbar {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
}

button.navbar-toggler {
  outline: none;
  transition: .2s all;
  background: rgba(0,0,0,0.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.3) inset;
  &.collapsed {
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
}
