<div class="card" [ngStyle]="{
  'background-image': 'url(' + photo.urls.small + ')',
  'background-color': photo.color
}">
  <div class="curtain">
    <div class="sign clearfix">
      <span class="likes" ngClass="{'isLikedByUser': photo.liked_by_user }">{{ photo.likes }}</span>
      <a href="{{ photo.user.portfolio_url }}"
        target="_blank"
        class="float-right">
      @{{ photo.user.username }}
      </a>
    </div>
    <div class="description">
      <p>{{ photo.description }}</p>
    </div>
  </div>
</div>
